<!-- Main listing -->
{% set articles = craft.entries().section('article').all() %}
        <div class="col-lg-8 col-12 mx-lg-4">

          <!-- Section: Classic blog listing -->
          <section class="classic-blog-listing">

            <!-- Grid row -->
            <div class="row mb-5">
{% for article in articles %}
    

              <!-- Grid column -->
              <div class="col-md-12">

                <!-- Image -->
                <div class="view overlay z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%28122%29.jpg"
                    class="img-fluid">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Excerpt -->
                <a>
                  <p class="text-center font-weight-bold gold-text mt-4">{{article.subheading|upper}}</p>
                </a>

                <h2 class="text-center font-weight-bold dark-grey-text pb-3">
                  <strong>{{article.heading}}</strong>
                </h2>

                <p class="dark-grey-text">{{article.text}}</p>

                <div class="text-center pb-2">
                  <a class="btn btn-transparent btn-sm font-weight-bold btn-rounded dark-grey-text" href="{{article.uri}}">{{layout.readMore}}</a>
                </div>
                

                <!-- Post data -->
                <div class="post-data mt-3 pt-3 grey-text">
                  <h6>By
                    <a href="#!" class="gold-text">Martha Barnett</a> on {{article.postDate|date('d/m/y')}}
                    <a href="#!" class="dark-grey-text">
                      <i class="far fa-comments pr-2 pl-3"></i>149</a>
                  </h6>

                  <ul class="list-unstyled list-inline circle-icons">
                    <!-- Facebook -->
                    <li class="list-inline-item mr-0">
                      <a class="fb-ic">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <!-- Twitter -->
                    <li class="list-inline-item mr-0">
                      <a class="tw-ic">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <!-- Google + -->
                    <li class="list-inline-item mr-0">
                      <a class="gplus-ic">
                        <i class="fab fa-google-plus-g"></i>
                      </a>
                    </li>
                  </ul>

                </div>

              </div>
              {% endfor %}
              <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </section>

    </div>