    <!-- Intro Section -->
    {% set intro = craft.entries().section('intro').one() %}
    {% set about = craft.entries().section('about') %}
    {% set entries = craft.entries().section('navbar').one() %}
    {% set image = intro.image.one() %}
    {% set categories = craft.categories().group('articlesCategory').all() %}
    {% set categoryUrl = ''%}
   
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'
      style="background-image: url({{image.url}}); background-repeat: no-repeat; background-size: cover; background-position: center center;">

      <div class="mask rgba-black-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row pt-5 mt-3">
            <div class="col-md-12">
              <div class="text-center">
                <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-3 wow fadeInDown"
                  data-wow-delay="0.3s">
                  <strong>{{intro.heading|upper}}</strong>
                </h1>
                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">
                  <strong>{{intro.subheading}}</strong>
                </h5>
                {% for category in categories if category.title|lower in intro.button1|lower %}
                    {% set categoryUrl = category.uri %}
                {% endfor %}
                <a href="{{categoryUrl}}" class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">{{intro.button1}}</a>
                <a href="{{entries.about.one().navigationLink}}" class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">{{intro.button2}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Intro -->